html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@import url("http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic");
body {
  font-family: 'PT Sans', sans-serif;
  min-width: 320px;
}
img,
video,
embed,
object {
  max-width: 100%;
}
.advantages {
  margin: 10px 0;
}
.advantages__item {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-left: 0%;
  margin-right: 0%;
}
.advantages__item:before,
.advantages__item:after {
  content: '';
  display: table;
}
.advantages__item:after {
  clear: both;
}
.advantages__img {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  margin: auto;
}
.advantages__img_t_star {
  background-image: url("../../../src/assets/images//advantages/icon_1.png");
}
.advantages__img_t_card {
  background-image: url("../../../src/assets/images//advantages/icon_2.png");
}
.advantages__img_t_armor {
  background-image: url("../../../src/assets/images//advantages/icon_3.png");
}
.advantages__description {
  text-align: center;
  width: 155px;
  margin: 20px auto;
  font-size: 13px;
  line-height: 16px;
}
@media (max-width: 480px) {
  .advantages {
    zoom: 1;
    background: #d6d6d6;
    margin: 0 -20px;
    padding: 2px;
  }
  .advantages:before,
  .advantages:after {
    content: "";
    display: table;
  }
  .advantages:after {
    clear: both;
  }
  .advantages__item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin: 15px 0px 25px;
  }
  .advantages__item:before,
  .advantages__item:after {
    content: '';
    display: table;
  }
  .advantages__item:after {
    clear: both;
  }
  .advantages__description {
    width: 240px;
    margin: 2px auto;
    font-size: 14px;
  }
}
.animations {
  position: relative;
  background: -webkit-linear-gradient(#6cd1ff, #aee4fe);
  background: -moz-linear-gradient(#6cd1ff, #aee4fe);
  background: -o-linear-gradient(#6cd1ff, #aee4fe);
  background: -ms-linear-gradient(#6cd1ff, #aee4fe);
  background: linear-gradient(#6cd1ff, #aee4fe);
  background-color: #6cd1ff;
  min-height: 570px;
}
.animations__item {
  position: absolute;
}
.animations__item_t_cloud {
  background-image: url("../images/sprite.png");
  background-position: -120px -234px;
  width: 280px;
  height: 121px;
}
.animations__item_t_cloud-1 {
  -webkit-animation: cloud-drift_1 10s infinite;
  -moz-animation: cloud-drift_1 10s infinite;
  -o-animation: cloud-drift_1 10s infinite;
  -ms-animation: cloud-drift_1 10s infinite;
  animation: cloud-drift_1 10s infinite;
  top: 31px;
  left: 32px;
  z-index: 1;
}
.animations__item_t_cloud-2 {
  -webkit-animation: cloud-drift_2 60s infinite;
  -moz-animation: cloud-drift_2 60s infinite;
  -o-animation: cloud-drift_2 60s infinite;
  -ms-animation: cloud-drift_2 60s infinite;
  animation: cloud-drift_2 60s infinite;
  background-image: url("../images/sprite.png");
  background-position: -400px -234px;
  width: 190px;
  height: 82px;
  top: 65px;
  right: 320px;
  z-index: 2;
}
.animations__item_t_cloud-3 {
  -webkit-animation: cloud-drift_3 45s infinite;
  -moz-animation: cloud-drift_3 45s infinite;
  -o-animation: cloud-drift_3 45s infinite;
  -ms-animation: cloud-drift_3 45s infinite;
  animation: cloud-drift_3 45s infinite;
  top: 145px;
  right: 30px;
  z-index: 3;
}
.animations__item_t_box-1 {
  -webkit-animation: pendulum 19s infinite;
  -moz-animation: pendulum 19s infinite;
  -o-animation: pendulum 19s infinite;
  -ms-animation: pendulum 19s infinite;
  animation: pendulum 19s infinite;
  background-image: url("../images/sprite.png");
  background-position: 0px 0px;
  width: 143px;
  height: 234px;
  top: 47px;
  left: 113px;
  z-index: 4;
}
.animations__item_t_box-2 {
  -webkit-animation: pendulum_1 9s infinite;
  -moz-animation: pendulum_1 9s infinite;
  -o-animation: pendulum_1 9s infinite;
  -ms-animation: pendulum_1 9s infinite;
  animation: pendulum_1 9s infinite;
  background-image: url("../images/sprite.png");
  background-position: 0px -234px;
  width: 120px;
  height: 201px;
  top: 282px;
  left: 335px;
  z-index: 5;
}
.animations__item_t_hero {
  background-image: url("../images/sprite.png");
  background-position: -143px 0px;
  width: 448px;
  height: 204px;
  bottom: 60px;
  right: 50px;
  z-index: 6;
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .animations__item {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    animation: none;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .animations__item {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    animation: none;
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  .animations__item_t_box-2 {
    top: 15px;
    right: 50px;
    left: auto;
  }
  .animations__item_t_hero {
    bottom: 50px;
    right: 50%;
    margin-right: -224px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .animations__item {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
    animation: none;
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  .animations__item_t_box-2 {
    top: 15px;
    right: 50px;
  }
  .animations__item_t_hero {
    bottom: 50px;
    right: 50%;
    margin-right: -224px;
  }
}
@media (max-width: 480px) {
  .animations__item {
    display: none;
  }
}
@-moz-keyframes cloud-drift_1 {
  0% {
    left: 32px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  25% {
    right: 0px;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
  50% {
    left: 32px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  75% {
    left: 0px;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
  100% {
    left: 32px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes cloud-drift_1 {
  0% {
    left: 32px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  25% {
    right: 0px;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
  50% {
    left: 32px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  75% {
    left: 0px;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
  100% {
    left: 32px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes cloud-drift_1 {
  0% {
    left: 32px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  25% {
    right: 0px;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
  50% {
    left: 32px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  75% {
    left: 0px;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
  100% {
    left: 32px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes cloud-drift_1 {
  0% {
    left: 32px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  25% {
    right: 0px;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
  50% {
    left: 32px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  75% {
    left: 0px;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
  100% {
    left: 32px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes cloud-drift_2 {
  0% {
    right: 320px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  25% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  50% {
    right: 320px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  75% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  100% {
    right: 320px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes cloud-drift_2 {
  0% {
    right: 320px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  25% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  50% {
    right: 320px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  75% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  100% {
    right: 320px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes cloud-drift_2 {
  0% {
    right: 320px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  25% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  50% {
    right: 320px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  75% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  100% {
    right: 320px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes cloud-drift_2 {
  0% {
    right: 320px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  25% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  50% {
    right: 320px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  75% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  100% {
    right: 320px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes cloud-drift_3 {
  0% {
    right: 310px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  25% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  50% {
    right: 310px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  75% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  100% {
    right: 310px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes cloud-drift_3 {
  0% {
    right: 310px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  25% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  50% {
    right: 310px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  75% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  100% {
    right: 310px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes cloud-drift_3 {
  0% {
    right: 310px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  25% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  50% {
    right: 310px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  75% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  100% {
    right: 310px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes cloud-drift_3 {
  0% {
    right: 310px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  25% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  50% {
    right: 310px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  75% {
    right: 0px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
  }
  100% {
    right: 310px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes pendulum {
  0%, 100% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  25%, 75% {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}
@-webkit-keyframes pendulum {
  0%, 100% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  25%, 75% {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}
@-o-keyframes pendulum {
  0%, 100% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  25%, 75% {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}
@keyframes pendulum {
  0%, 100% {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  25%, 75% {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}
@-moz-keyframes pendulum_1 {
  0%, 100% {
    -webkit-transform: rotate(0.6deg);
    -moz-transform: rotate(0.6deg);
    -o-transform: rotate(0.6deg);
    -ms-transform: rotate(0.6deg);
    transform: rotate(0.6deg);
  }
  25%, 75% {
    -webkit-transform: rotate(-1.2deg);
    -moz-transform: rotate(-1.2deg);
    -o-transform: rotate(-1.2deg);
    -ms-transform: rotate(-1.2deg);
    transform: rotate(-1.2deg);
  }
  50% {
    -webkit-transform: rotate(1.2deg);
    -moz-transform: rotate(1.2deg);
    -o-transform: rotate(1.2deg);
    -ms-transform: rotate(1.2deg);
    transform: rotate(1.2deg);
  }
}
@-webkit-keyframes pendulum_1 {
  0%, 100% {
    -webkit-transform: rotate(0.6deg);
    -moz-transform: rotate(0.6deg);
    -o-transform: rotate(0.6deg);
    -ms-transform: rotate(0.6deg);
    transform: rotate(0.6deg);
  }
  25%, 75% {
    -webkit-transform: rotate(-1.2deg);
    -moz-transform: rotate(-1.2deg);
    -o-transform: rotate(-1.2deg);
    -ms-transform: rotate(-1.2deg);
    transform: rotate(-1.2deg);
  }
  50% {
    -webkit-transform: rotate(1.2deg);
    -moz-transform: rotate(1.2deg);
    -o-transform: rotate(1.2deg);
    -ms-transform: rotate(1.2deg);
    transform: rotate(1.2deg);
  }
}
@-o-keyframes pendulum_1 {
  0%, 100% {
    -webkit-transform: rotate(0.6deg);
    -moz-transform: rotate(0.6deg);
    -o-transform: rotate(0.6deg);
    -ms-transform: rotate(0.6deg);
    transform: rotate(0.6deg);
  }
  25%, 75% {
    -webkit-transform: rotate(-1.2deg);
    -moz-transform: rotate(-1.2deg);
    -o-transform: rotate(-1.2deg);
    -ms-transform: rotate(-1.2deg);
    transform: rotate(-1.2deg);
  }
  50% {
    -webkit-transform: rotate(1.2deg);
    -moz-transform: rotate(1.2deg);
    -o-transform: rotate(1.2deg);
    -ms-transform: rotate(1.2deg);
    transform: rotate(1.2deg);
  }
}
@keyframes pendulum_1 {
  0%, 100% {
    -webkit-transform: rotate(0.6deg);
    -moz-transform: rotate(0.6deg);
    -o-transform: rotate(0.6deg);
    -ms-transform: rotate(0.6deg);
    transform: rotate(0.6deg);
  }
  25%, 75% {
    -webkit-transform: rotate(-1.2deg);
    -moz-transform: rotate(-1.2deg);
    -o-transform: rotate(-1.2deg);
    -ms-transform: rotate(-1.2deg);
    transform: rotate(-1.2deg);
  }
  50% {
    -webkit-transform: rotate(1.2deg);
    -moz-transform: rotate(1.2deg);
    -o-transform: rotate(1.2deg);
    -ms-transform: rotate(1.2deg);
    transform: rotate(1.2deg);
  }
}
.apps__item {
  margin-right: 30px;
  display: inline-block;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  width: 100px;
  height: 25px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.apps__item:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.apps__item_t_apple {
  background-image: url("../../../src/assets/images//apps/app.png");
  width: 90px;
}
.apps__item_t_google {
  background-image: url("../../../src/assets/images//apps/google-plus.png");
  width: 106px;
}
.apps__item_t_windows {
  background-image: url("../../../src/assets/images//apps/microsoft.png");
  width: 109px;
}
@media (max-width: 480px) {
  .apps {
    text-align: center;
  }
  .apps__item {
    margin: 0 10px;
  }
}
.btn {
  color: #fff;
  background: #283991;
  border: 0;
  height: 40px;
  padding: 4px 22px;
  font-size: 18px;
  white-space: normal;
  vertical-align: top;
}
.btn:hover {
  background: #1f2c71;
}
.btn_t_crystal {
  background: none;
  color: #000;
}
.btn_t_crystal:hover {
  background: none;
  color: #666;
}
.btn__group {
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .btn__group {
    margin-top: 15px;
  }
}
@media (max-width: 480px) {
  .btn_t_crystal {
    color: #fff;
    background: #283991;
  }
  .btn_t_crystal:hover {
    background: #1f2c71;
    color: #fff;
  }
}
.content {
  *zoom: 1;
  width: auto;
  max-width: 740px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 10;
  position: relative;
}
.content:before,
.content:after {
  content: '';
  display: table;
}
.content:after {
  clear: both;
}
.content__header {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0 30px;
  font-size: 37px;
}
.content__header:first-child {
  margin-left: auto;
}
.content__header:last-child {
  margin-right: auto;
}
.content__img {
  background-image: url("../../../src/assets/images/logo_wormix.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  width: 133px;
  height: 77px;
  display: inline-block;
  vertical-align: middle;
}
.content__text {
  font-size: 22px;
  line-height: 30px;
}
.content__registration {
  margin: 70px 0;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .content__header {
    font-size: 30px;
    padding: 0 0 30px;
    text-align: center;
  }
  .content__img {
    display: block;
    margin: auto;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .content__header {
    font-size: 20px;
    padding: 20px 0 30px;
    text-align: center;
  }
  .content__img {
    display: block;
    margin: auto;
  }
}
@media (max-width: 480px) {
  .content__header {
    font-size: 20px;
    padding: 20px 0 30px;
    text-align: center;
  }
  .content__img {
    display: block;
    margin: auto;
  }
  .content__text {
    font-size: 15px;
    line-height: 19px;
  }
  .content__registration {
    margin: 45px 0;
  }
}
.footer {
  *zoom: 1;
  width: auto;
  max-width: 1260px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  color: #666;
  padding-bottom: 20px;
}
.footer:before,
.footer:after {
  content: '';
  display: table;
}
.footer:after {
  clear: both;
}
.footer__nav {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 66.66666666666666%;
  margin-left: 0%;
  margin-right: 0%;
  margin: 10px 0;
}
.footer__nav:before,
.footer__nav:after {
  content: '';
  display: table;
}
.footer__nav:after {
  clear: both;
}
.footer__contacts {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: right;
}
.footer__contacts:before,
.footer__contacts:after {
  content: '';
  display: table;
}
.footer__contacts:after {
  clear: both;
}
.footer__phone {
  font-size: 28px;
  padding: 25px 0 15px;
}
.footer__phone-lnk {
  color: #666;
  text-decoration: none;
}
.footer__apps {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 66.66666666666666%;
  margin-left: 0%;
  margin-right: 0%;
  margin: 15px 0;
}
.footer__apps:before,
.footer__apps:after {
  content: '';
  display: table;
}
.footer__apps:after {
  clear: both;
}
.footer__partners {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  margin: 15px 0;
}
.footer__partners:before,
.footer__partners:after {
  content: '';
  display: table;
}
.footer__partners:after {
  clear: both;
}
.footer__lang-selector {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 66.66666666666666%;
  margin-left: 0%;
  margin-right: 0%;
}
.footer__lang-selector:before,
.footer__lang-selector:after {
  content: '';
  display: table;
}
.footer__lang-selector:after {
  clear: both;
}
.footer__copyright {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 14px;
  text-align: right;
}
.footer__copyright:before,
.footer__copyright:after {
  content: '';
  display: table;
}
.footer__copyright:after {
  clear: both;
}
@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    *zoom: 1;
    width: auto;
    max-width: 1260px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    color: #666;
  }
  .footer:before,
  .footer:after {
    content: '';
    display: table;
  }
  .footer:after {
    clear: both;
  }
  .footer__nav {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__nav:first-child {
    margin-left: auto;
  }
  .footer__nav:last-child {
    margin-right: auto;
  }
  .footer__contacts {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: 51.5%;
    text-align: right;
    font-size: 20px;
  }
  .footer__contacts:before,
  .footer__contacts:after {
    content: '';
    display: table;
  }
  .footer__contacts:after {
    clear: both;
  }
  .footer__phone {
    font-size: 28px;
    padding: 25px 0 15px;
  }
  .footer__phone-lnk {
    color: #666;
    text-decoration: none;
  }
  .footer__apps {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: -51.5%;
    margin: 15px 0;
  }
  .footer__apps:before,
  .footer__apps:after {
    content: '';
    display: table;
  }
  .footer__apps:after {
    clear: both;
  }
  .footer__partners {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 15px 0;
    text-align: center;
  }
  .footer__partners:first-child {
    margin-left: auto;
  }
  .footer__partners:last-child {
    margin-right: auto;
  }
  .footer__lang-selector {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .footer__lang-selector:before,
  .footer__lang-selector:after {
    content: '';
    display: table;
  }
  .footer__lang-selector:after {
    clear: both;
  }
  .footer__copyright {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 14px;
    text-align: right;
  }
  .footer__copyright:before,
  .footer__copyright:after {
    content: '';
    display: table;
  }
  .footer__copyright:after {
    clear: both;
  }
}
@media (max-width: 480px) {
  .footer {
    text-align: center;
  }
  .footer__nav {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__nav:first-child {
    margin-left: auto;
  }
  .footer__nav:last-child {
    margin-right: auto;
  }
  .footer__contacts {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__contacts:first-child {
    margin-left: auto;
  }
  .footer__contacts:last-child {
    margin-right: auto;
  }
  .footer__phone {
    font-size: 18px;
    text-align: center;
    padding: 0 0 15px;
  }
  .footer__apps {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__apps:first-child {
    margin-left: auto;
  }
  .footer__apps:last-child {
    margin-right: auto;
  }
  .footer__partners {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__partners:first-child {
    margin-left: auto;
  }
  .footer__partners:last-child {
    margin-right: auto;
  }
  .footer__lang-selector {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .footer__lang-selector:first-child {
    margin-left: auto;
  }
  .footer__lang-selector:last-child {
    margin-right: auto;
  }
  .footer__copyright {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .footer__copyright:first-child {
    margin-left: auto;
  }
  .footer__copyright:last-child {
    margin-right: auto;
  }
}
.form-group {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 40px;
  font-size: 16px;
  border: 3px solid #d6d6d6;
  margin-left: 20px;
}
.form-group__wrapper {
  display: inline-block;
}
.form-group:first-child {
  margin-left: 0;
}
.form-group__label {
  position: absolute;
  top: -27px;
  left: 15px;
  font-size: 11px;
  word-spacing: normal;
}
.form-group__ctrl {
  position: relative;
  height: 100%;
  padding: 0 10px;
}
.form-group__ctrl_t_tel {
  padding: 0 10px 0 40px;
}
.form-group__lang {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -6px;
}
.form-group__lang_t_ru {
  background-image: url("../../../src/assets/images//ru.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  width: 20px;
  height: 15px;
}
.form-group__input {
  border: none;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  font-size: 24px;
  line-height: 33px;
}
.form-group__input:focus {
  outline: none;
}
@media (min-width: 481px) and (max-width: 768px) {
  .form-group__label {
    font-size: 18px;
  }
}
.b-header {
  *zoom: 1;
  width: auto;
  max-width: 1610px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.b-header:before,
.b-header:after {
  content: '';
  display: table;
}
.b-header:after {
  clear: both;
}
.b-header__logo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 30px 0;
}
.b-header__logo:before,
.b-header__logo:after {
  content: '';
  display: table;
}
.b-header__logo:after {
  clear: both;
}
.b-header__auth {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 75%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 50px 0;
  text-align: right;
  word-spacing: -0.36em;
}
.b-header__auth:before,
.b-header__auth:after {
  content: '';
  display: table;
}
.b-header__auth:after {
  clear: both;
}
.b-header__auth-btn {
  position: relative;
  left: -1px;
}
.b-header__title {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 46px;
  padding: 10px;
  margin-bottom: 50px;
}
.b-header__title:first-child {
  margin-left: auto;
}
.b-header__title:last-child {
  margin-right: auto;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .b-header__logo {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .b-header__logo:before,
  .b-header__logo:after {
    content: '';
    display: table;
  }
  .b-header__logo:after {
    clear: both;
  }
  .b-header__logo:last-child {
    margin-right: 0%;
  }
  .b-header__auth {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 65.66666666666666%;
    margin-left: 0%;
    margin-right: 3%;
    padding-bottom: 10px;
    text-align: right;
  }
  .b-header__auth:before,
  .b-header__auth:after {
    content: '';
    display: table;
  }
  .b-header__auth:after {
    clear: both;
  }
  .b-header__auth:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
  .b-header__auth:nth-child(2n+1) {
    clear: both;
  }
  .b-header__auth-item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .b-header__auth-item:before,
  .b-header__auth-item:after {
    content: '';
    display: table;
  }
  .b-header__auth-item:after {
    clear: both;
  }
  .b-header__auth-item:last-child {
    margin-right: 0%;
  }
  .b-header__title {
    font-size: 38px;
    margin: 10px 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .b-header__logo {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .b-header__logo:first-child {
    margin-left: auto;
  }
  .b-header__logo:last-child {
    margin-right: auto;
  }
  .b-header__logo .logo {
    margin: auto;
  }
  .b-header__auth {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .b-header__auth:first-child {
    margin-left: auto;
  }
  .b-header__auth:last-child {
    margin-right: auto;
  }
  .b-header__auth-wrapper {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .b-header__auth-wrapper:first-child {
    margin-left: auto;
  }
  .b-header__auth-wrapper:last-child {
    margin-right: auto;
  }
  .b-header__auth-item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .b-header__auth-item:before,
  .b-header__auth-item:after {
    content: '';
    display: table;
  }
  .b-header__auth-item:after {
    clear: both;
  }
  .b-header__auth-item:last-child {
    margin-right: 0%;
  }
  .b-header__auth-btn {
    margin-top: 20px;
  }
  .b-header__title {
    font-size: 30px;
    margin: 10px 0;
  }
}
@media (max-width: 480px) {
  .b-header__logo {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
  }
  .b-header__logo:first-child {
    margin-left: auto;
  }
  .b-header__logo:last-child {
    margin-right: auto;
  }
  .b-header__logo .logo {
    margin: auto;
    width: 150px;
    height: 60px;
  }
  .b-header__auth {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .b-header__auth:first-child {
    margin-left: auto;
  }
  .b-header__auth:last-child {
    margin-right: auto;
  }
  .b-header__auth-wrapper {
    display: none;
  }
  .b-header__auth-item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .b-header__auth-item:before,
  .b-header__auth-item:after {
    content: '';
    display: table;
  }
  .b-header__auth-item:after {
    clear: both;
  }
  .b-header__auth-item:last-child {
    margin-right: 0%;
  }
  .b-header__auth-btn {
    display: block;
  }
  .b-header__auth-btn .btn {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    text-align: center;
  }
  .b-header__auth-btn .btn:before,
  .b-header__auth-btn .btn:after {
    content: '';
    display: table;
  }
  .b-header__auth-btn .btn:after {
    clear: both;
  }
  .b-header__auth-btn .btn:last-child {
    margin-right: 0%;
  }
  .b-header__title {
    font-size: 26px;
    margin: 0;
    padding: 17px 0;
    line-height: 33px;
  }
}
.lang-selector__item {
  padding: 0 10px 0 45px;
  display: none;
  position: relative;
  color: #808080;
}
.lang-selector__item_t_current {
  display: inline-block;
}
.lang-selector__item_t_current:after {
  content: "";
  border: 3px solid transparent;
  border-top: 7px solid #666;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.lang-selector__item_t_ru:before {
  background-image: url("../../../src/assets/images//ru.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  width: 20px;
  height: 15px;
  display: block;
  content: "";
  position: absolute;
  left: 5px;
}
.logo {
  max-width: 270px;
  height: 105px;
  display: block;
  background-image: url("../../../src/assets/images//logo.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.nav {
  margin: 10px 0;
}
.nav__item {
  display: inline-block;
}
.nav__lnk {
  color: #666;
  font-size: 15px;
  line-height: 28px;
  text-decoration: none;
  margin-right: 15px;
}
.nav__lnk:hover {
  color: #000;
}
@media (max-width: 480px) {
  .nav {
    margin: 10px 0;
  }
  .nav__item {
    display: block;
  }
}
.partners {
  text-align: right;
}
.partners__item {
  margin-left: 5px;
  display: inline-block;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.partners__item:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.partners__item_t_pci {
  background-image: url("../../../src/assets/images//partners/pci.png");
  width: 60px;
}
.partners__item_t_kas {
  background-image: url("../../../src/assets/images//partners/kaspersky.png");
  width: 78px;
}
.partners__item_t_visa {
  background-image: url("../../../src/assets/images//partners/visa.png");
  width: 66px;
}
.partners__item_t_msc {
  background-image: url("../../../src/assets/images//partners/master-card.png");
  width: 68px;
}
@media (min-width: 481px) and (max-width: 768px) {
  .partners {
    text-align: center;
    padding: 20px 0 0;
  }
  .partners__item {
    margin: 0 10px;
  }
}
@media (max-width: 480px) {
  .partners {
    text-align: center;
  }
  .partners__item {
    margin: 0 10px;
  }
}
.registration__ctrl,
.registration__btn {
  height: 66px;
  font-size: 27px;
  padding: 10px;
  border: 4px solid #fea200;
}
.registration__ctrl {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.registration__ctrl:before,
.registration__ctrl:after {
  content: '';
  display: table;
}
.registration__ctrl:after {
  clear: both;
}
.registration__ctrl:last-child {
  margin-right: 0%;
}
.registration__btn {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  background: #fea200;
  color: #fff;
  text-align: center;
}
.registration__btn:before,
.registration__btn:after {
  content: '';
  display: table;
}
.registration__btn:after {
  clear: both;
}
.registration__btn:last-child {
  margin-right: 0%;
}
@media (min-width: 481px) and (max-width: 768px) {
  .registration__ctrl,
  .registration__btn {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  .registration__ctrl:first-child,
  .registration__btn:first-child {
    margin-left: auto;
  }
  .registration__ctrl:last-child,
  .registration__btn:last-child {
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  .registration__ctrl,
  .registration__btn {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
    margin-bottom: 25px;
  }
  .registration__ctrl:first-child,
  .registration__btn:first-child {
    margin-left: auto;
  }
  .registration__ctrl:last-child,
  .registration__btn:last-child {
    margin-right: auto;
  }
}
.social__item {
  margin-left: 22px;
  display: inline-block;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
.social__item:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.social__item_t_vk {
  background-image: url("../../../src/assets/images//social/vkontakte.png");
}
.social__item_t_ok {
  background-image: url("../../../src/assets/images//social/odnoklassniki.png");
}
.social__item_t_yt {
  background-image: url("../../../src/assets/images//social/youtube.png");
}
.social__item_t_tw {
  background-image: url("../../../src/assets/images//social/twitter.png");
}
.social__item_t_fb {
  background-image: url("../../../src/assets/images//social/facebook.png");
}
@media (min-width: 481px) and (max-width: 768px) {
  .social__item {
    margin-left: 15px;
  }
}
@media (max-width: 480px) {
  .social {
    text-align: center;
  }
  .social__item {
    margin: 0 10px;
  }
}
