@import '../../../node_modules/nib/lib/nib'
@import '../../../node_modules/jeet/stylus/jeet'
@import 'sprite'
@import 'mixins'

global-reset()
normalize-base()

*
  box-sizing(border-box)

@import url(http://fonts.googleapis.com/css?family=PT\+Sans&subset=latin,cyrillic);

body
  font-family 'PT Sans', sans-serif
  min-width 320px

img, video, embed, object
  max-width 100%

//edit()

$grey = #d6d6d6
$dark-grey = #666
$dark = #000

$imgSrc = "../../../src/assets/images/"

@import 'blocks/*'