@import '../../../node_modules/nib/lib/nib'
@import '../../../node_modules/jeet/stylus/jeet'
@import 'sprite'
@import 'mixins'

global-reset()
normalize-base()

*
    box-sizing(border-box)

@import url(http://fonts.googleapis.com/css?family=PT\+Sans&subset=latin,cyrillic);

body
    font-family: 'PT Sans', sans-serif;

img, video, embed, object
    max-width 100%

jeet = {
  gutter: 0,
  parent-first: false,
  layout-direction: LTR,
  max-width: 1920px
}

@import 'blocks/*'

//@media (min-width: 481px) and (max-width:768px) {
//}
//
//@media (max-width:480px) {
//}
//@import 'reset'



// variables
