.apps

  &__item
    margin-right 30px
    display inline-block
    opacity .5
    width 100px
    height 25px
    background-repeat no-repeat
    background-size 100% auto

    &:hover
      opacity 1

    &_t_apple
      background-image url($imgSrc + "/apps/app.png")
      width 90px

    &_t_google
      background-image url($imgSrc + "/apps/google-plus.png")
      width 106px

    &_t_windows
      background-image url($imgSrc + "/apps/microsoft.png")
      width 109px