.btn
  color #fff
  background #283991
  border 0
  //max-width 230px
  height 40px
  padding 4px 22px
  font-size 18px
  white-space normal
  vertical-align top
  //col(1/12)

  &:hover
    background: #1f2c71;

  &_t_crystal
    background none
    color black

    &:hover
      background: none
      color $dark-grey
