.content
  center(740px, 20px)

  &__header
    stack()
    padding 40px 0 30px
    font-size 37px

  &__img
    sprite($s-logo_wormix)
    display inline-block
    vertical-align middle

  &__text
    font-size 22px
    line-height 30px

  &__registration
    margin 70px 0
