.content
  center(740px, 20px)
  z-index 10
  position relative

  &__header
    stack()
    padding 40px 0 30px
    font-size 37px

  &__img
    background-image url($imgSrc + "logo_wormix.png")
    background-repeat no-repeat
    background-size 100% auto
    width 133px
    height 77px
    display inline-block
    vertical-align middle

  &__text
    font-size 22px
    line-height 30px

  &__registration
    margin 70px 0

@media (min-width: 769px) and (max-width:1024px)
  .content
    &__header
      font-size 30px
      padding 0 0 30px
      text-align center

    &__img
      display block
      margin auto

@media (min-width: 481px) and (max-width:768px)
  .content
    &__header
      font-size 20px
      padding 20px 0 30px
      text-align center

    &__img
      display block
      margin auto

@media (max-width: 480px)
  .content
    &__header
      font-size 20px
      padding 20px 0 30px
      text-align center

    &__img
      display block
      margin auto

    &__text
      font-size 15px
      line-height 19px

    &__registration
      margin 45px 0


