.footer
  center(1260px, 20px)
  color $dark-grey

  &__nav
    span(2/3)
    margin 10px 0

  &__contacts
    span(1/3)
    text-align right

  &__phone
    font-size 28px
    padding 25px 0 15px

  &__phone-lnk
    color $dark-grey
    text-decoration none

  &__apps
    span(2/3)
    margin 15px 0

  &__partners
    span(1/3)
    margin 15px 0

  &__lang-selector
    span(2/3)

  &__copyright
    span(1/3)
    font-size 14px
    text-align right
