.lang-selector
  &__item
    padding: 0 10px 0 45px;
    display none
    position relative
    color grey

    &_t_current
      display inline-block

      &:after
        content ""
        border 3px solid transparent
        border-top 7px solid $dark-grey
        display: inline-block;
        vertical-align: middle;
        margin-left 10px

    &_t_ru:before
      background-image url($imgSrc + "/ru.png")
      background-repeat no-repeat
      background-size 100% auto
      width 20px
      height 15px
      display block
      content ""
      position absolute
      left 5px

