.nav
  margin 10px 0

  &__item
    display inline-block

  &__lnk
    color $dark-grey
    font-size 15px
    line-height 28px
    text-decoration none
    margin-right 15px

    &:hover
      color $dark

@media (max-width: 480px)
  .nav
    margin 10px 0

    &__item
      display block

    //&__lnk