.registration

  &__ctrl
  &__btn
    height 66px
    font-size 27px
    padding 10px
    border 4px solid #fea200

  &__ctrl
    col(1/2)

  &__btn
    col(1/2)
    background #fea200
    color #fff
    text-align center

