.social
  &__item
    margin-left 22px
    display inline-block
    opacity .5
    width 20px
    height 20px
    background-repeat no-repeat
    background-size 100% auto

    &:hover
      opacity 1

    &_t_vk
      background-image url($imgSrc + "/social/vkontakte.png")

    &_t_ok
      background-image url($imgSrc + "/social/odnoklassniki.png")

    &_t_yt
      background-image url($imgSrc + "/social/youtube.png")

    &_t_tw
      background-image url($imgSrc + "/social/twitter.png")

    &_t_fb
      background-image url($imgSrc + "/social/facebook.png")

@media (min-width: 481px) and (max-width:768px)
  .social
    &__item
      margin-left: 15px;

@media (max-width: 480px)
  .social
    text-align center
    &__item
      margin 0 10px